.Regis{
    background: #ff6161;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    margin-left: 20px;
    color:white;
}
.button{
    background: #FFCD29;
    border-radius: 8px;
    padding: 10px;
    border: none;
}